<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>gRPC </title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
     <!-- Image and text -->
     <nav class="navbar navbar-dark bg-dark">
          <a class="navbar-brand ml-4" href="#">
               <img src="https://desafiolatam.com/assets/videojuegos-icon-d563975546a5759e092cd5a49f746098402008f440d6ec64d39a4309b0e02f50.png"
                    width="30" height="30" class="d-inline-block align-top mr-2" alt="">
               gRPC
          </a>
     </nav>
     <div class="container-fluid">
          <div class="row">
               <div class="col-md-12 text-center">
                    <img src="https://cdn.pixabay.com/photo/2016/12/23/07/00/game-1926905_960_720.png"
                         class="img-fluid w-25 mt-2">
               </div>
          </div>

          <div class="row">
               <div class="col-md-12 text-center">
                    <h1 class="display-3 text-center">¡Adivina un número entre 1 al 100!</h1>
                     <p class="text-<%=response_status%>"> <%= response_server %></p>
                    <form action="/sendNumber" , method="POST">
                         <div class="row justify-content-center">
                              <div class="col-md-4">
                                   <div class="form-group">
                                        <input type="number" name="number" class="form-control" i
                                             placeholder="Ingresa tu numero">
                                   </div>
                              </div>
                         </div>
                         <button type="submit" value="Enviar" class="btn btn-primary">Evaluar número</button>
                    </form>
               </div>
          </div>
     </div>

     <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
          integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
          crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
          integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
          crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
          integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
          crossorigin="anonymous"></script>
</body>

</html>